<h1>ユーザー詳細</h1>

<table>
	<tr>
		<td>名前</td>
		<td><%= @user.name_char %></td>
	</tr>
	<tr>
		<td>カナ名</td>
		<td><%= @user.name_kana %></td>
	</tr>
	<tr>
		<td>郵便番号</td>
		<td><%= @user.post %></td>
	</tr>
	<tr>
		<td>住所</td>
		<td><%= @user.address %></td>
	</tr>
	<tr>
		<td>電話番号</td>
		<td><%= @user.tell %></td>
	</tr>
	<tr>
		<td>email</td>
		<td><%= @user.email %></td>
	</tr>
</table>